{% extends "DisplayCmsBundle:Cms:layout.html.twig" %}

{% block display_cms_header_title %}{{ entity.headerTitle is not empty ? entity.headerTitle : entity.title }}{% endblock %}

{% block display_cms_description %}{{ entity.description }}{% endblock %}

{% block display_cms_breadcrumb %}
    <ul class="cms-breadcrumb">
        {% for index, crumb in entity.breadcrumb %}
            {% if index == (breadcrumb|length -1) %}
                <li>{{ crumb.title }}</li>
            {% else %}
                <li><a href="{{ cms_path(crumb.id) }}">{{ crumb.title }}</a> <span class="divider">/</span></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block display_cms_nav %}
    {% include "DisplayCmsBundle:Cms:nav.html.twig" with {'menus': menus} %}
{% endblock %}

{% block display_cms_title %}{{ entity.title }}{% endblock %}

{% block display_cms_content %}{{ include(template_from_string(entity.content)) }}{% endblock %}