{% extends 'DisplayCmsBundle::backend_layout.html.twig' %}

{% block display_cms_admin_content %}
    <div class="page-header">
        <h1>
            <a href="{{ path('display_cms_backend_media_upload') }}" class="btn btn-primary pull-right">
                Upload a media
            </a>

            Media list
        </h1>
    </div>


    {% if entities|length > 0 %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mime</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.mime }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if entity.isImage() %}
                    <button class="btn btn-xs btn-default" data-image-preview="{{ asset(entity.getWebPath()) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    {% endif %}
                    <a href="{{ path('display_cms_backend_media_edit', {'id': entity.id}) }}" class="btn btn-xs btn-primary">Edit</a>
                    <a href="{{ path('display_cms_backend_media_delete', {'id': entity.id}) }}" class="btn btn-xs btn-warning data-confirm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="alert alert-info">no media</div>
    {% endif %}
{% endblock %}
